[submodule "apps_wrapper/Eyedol"]
	path = apps_wrapper/Eyedol
	url = https://github.com/AbdoulSy/Eyedol
[submodule "apps_wrapper/Glacius"]
	path = apps_wrapper/Glacius
	url = https://github.com/AbdoulSy/Glacius
