{{define "page_content"}}
<div class="page state-neutral" id="{{.Page.ID}}">
  <p class="page-content-description">
     {{.Page.Description}}
  </p>
  <div class="flash-errors state-neutral">
    {{template "errors" .}}
  </div>
<!-- TODO: Create a Components loader -->
  <div class="compoments-loader">
   <div>
    {{range .Page.WalkContent.Directories}}
      <p>{{.Root}}</p>
    {{end}}
   </div>
   <div>
    {{range .Page.WalkContent.Files}}
      <p> description: {{.Description}}
      </p>
      <p> todo : {{.TODO}}
      </p>
      <p> file: {{.File}} </p>
      <p> author {{.Author}}
      </p>
    {{end}}
   </div>
  </div>
</div>
{{end}}
