{{define "page_layout"}}
<body itemscope="http://web.abdoulsy.eu/o#Generated_Web_Page">
  <div itemprop="http://web.abdoulsy.eu/o#has_header"
       class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {{template "top" .}}
    {{template "sidebar" .}}
    {{template "main" .}}
  </div>
    {{template "svg_piechart_defs" .}}
    {{template "svg_graph_defs" .}}
    <a itemscope="http://web.abdoulsy.eu/o#Github_Source_Page"
       itemprop="has_URL" 
       href="https://github.com/AbdoulSy/ADSP"
       target="_blank"
       id="view-source"
       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
	    View Source
    </a>
   {{template "scripts" .}}
</body>
{{end}}
