{{define "updates"}}
<div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
  <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
    <h2 class="mdl-card__title-text">Updates</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-color-text--grey-600">
    Last Commit: @abdoulsy <br />
    Modified the template files into separate files <br />
    commit hash: a234cbd53fd3a6c2a
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
  </div>
</div>
{{end}}
