{{define "page_content"}}
<div class="page state-neutral" id="{{.Page.ID}}">
  <p class="page-content-description">
     {{.Page.Description}}
  </p>
  <div class="flash-errors state-neutral">
    {{template "errors" .}}
  </div>
<!-- TODO: Create a Components loader -->
  <div class="compoments-loader">
   <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Author</th>
          <th class="mdl-data-table__cell--non-numeric">todo</th>
          <th class="mdl-data-table__cell--non-numeric">file</th>
          <th class="mdl-data-table__cell--non-numeric">description</th>
        </tr>
      </thead>
      <tbody>
        {{range .Page.WalkContent.Files}}
          <tr>
            <td class="mdl-data-table__cell--non-numeric">{{.Author}}</td>
            <td>{{.TODO}}</td>
            <td>{{.File}}</td>
            <td>{{.Description}}</td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{end}}
