<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type": "SoftwareApplication",
  "name": "ADSP Dashboard",
  "applicationCategory": "Development Platform",
  "applicationSuite": "ADSP",
  "availableOnDevice": "Web Browser",
  "countriesSupported": "United Kingdom",
  "downloadUri": "http://web.abdoulsy.eu/ADSP/download",
  "featureList": "http://aria.abdoulsy.eu/ontologies/ADSP/Web_Project#ADSP_Features",
  "operatingSystem": "Windows 7, OSX 10.6, Ubuntu 16.04",
  "permissions": "Wifi Connection, Member VCard",
  "releaseNote": "_LAST_COMMIT_MESSAGE",
  "screenshot": "_LAST_SCREENSHOT",
  "softwareHelp": "http://github.com/AbdoulSy/ADSP",
  "softwareRequirements": "http://aria.abdoulsy.eu/ontologies/ADSP/Web_Project#ADSP_Requirements",
  "softwareVersion", "_LAST_SOFTWARE_VERSION",
  "about": "_SOFTWARE DESCRIPTION",
  "accountablePerson": "http://aria.abdoulsy.eu/ontologies/ADSP/Web_Project#Abdoul_Sy",
  "author": "http://aria.abdoulsy.eu/ontologies/ADSP/Web_Project#Abdoul_Sy",
  "audience": "Marklogic Employees",
  "dateCreated": "21/11/2016",
  "dateModified": "_LAST_MODIFIED_DATE",
  "datePublished": "06/12/2016",
  "educationalUse": "Group Work",
  "isAccessibleForFree", false,
  "isPartOf": "ADSP",
  "version": "_LAST_POINT_VERSION",
  "description": "_LAST_DESCRIPTION"

}
</script>
